@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap");

@import "./debug.css";
@import "./syntaxTheme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-color: 233deg 31% 2%;
  --shadow-elevation-low: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.47),
    0px 0.6px 0.5px -2px hsl(var(--shadow-color) / 0.35),
    0px 1.5px 1.3px -4.1px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-medium: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.49),
    0px 0.9px 0.8px -1.3px hsl(var(--shadow-color) / 0.39),
    0px 2.8px 2.5px -2.7px hsl(var(--shadow-color) / 0.3),
    -0.1px 7.7px 6.9px -4.1px hsl(var(--shadow-color) / 0.21);
  --shadow-elevation-high: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.45),
    0px 1.1px 1px -0.6px hsl(var(--shadow-color) / 0.41),
    0px 2.2px 2px -1.2px hsl(var(--shadow-color) / 0.37),
    -0.1px 4.4px 3.9px -1.7px hsl(var(--shadow-color) / 0.32),
    -0.1px 8.1px 7.2px -2.3px hsl(var(--shadow-color) / 0.28),
    -0.2px 14.1px 12.6px -2.9px hsl(var(--shadow-color) / 0.24),
    -0.4px 23px 20.5px -3.5px hsl(var(--shadow-color) / 0.19),
    -0.6px 35.3px 31.5px -4.1px hsl(var(--shadow-color) / 0.15);
}

html {
  @apply bg-background text-label;
}

.shadow-elevation-low {
  box-shadow: var(--shadow-elevation-low);
}

.shadow-elevation-medium {
  box-shadow: var(--shadow-elevation-medium);
}

.shadow-elevation-high {
  box-shadow: var(--shadow-elevation-high);
}

.inner-shadow-border {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.inner-shadow-border-debug {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 100, 200, 1);
}

.shadow-glow {
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.5);
}

.exclusion {
  mix-blend-mode: exclusion;
}
