html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Courier New", monospace;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  background-color: #1b1b1b;
}

span {
  display: inline-block;
  text-align: center;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-row-gap: 0.5rem;
  height: 100%;
  width: 100%;
}

section.content {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

section.mint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  max-width: 100%;
  justify-content: space-between;
  flex-grow: 1;
  grid-row: 2;
  justify-self: end;
}

nav {
  width: 100%;
}
nav.top {
  display: grid;
  height: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 0.5rem;
}

nav.page {
  display: grid;
  height: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 0.5rem;
}

/* nav items */
nav > * {
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  border: black;
  color: rgb(219, 219, 219);
  width: minmax(0, max(10vw, min-content));
}

nav > .name {
  /* background-color: rgb(58, 58, 58); */
  padding: 0.5rem;
  margin-left: 0.5rem;
}

section.nft-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(min(100vw, 400px)));
  max-width: min(100vw, 810px);
  grid-gap: 0.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

section.nft-token {
  display: grid;
  grid-template-columns: calc(min(min-content, 400px));
  grid-gap: 0.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

div.svg-holder {
  width: min(400px, 96vw);
  height: min(400px, 96vw);
  box-shadow: 0px 0px 4px black;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.panel > span {
  display: inline-block;
  padding: 0.5rem;
}

div.price {
  display: flex;
  justify-content: center;
  align-content: center;
}

span.eth-symbol {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 2px;
  margin-bottom: -10px;
  font-size: 0.6rem;
  margin-top: -10px;
}

span.price {
  font-size: 0.8rem;
  padding: 0;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

section.panel {
  box-shadow: 0px 2px 5px 1px rgb(22, 22, 22);
  background-color: #ffffff80;
  border-radius: 5px;
}

section.panel.info {
  background-color: #ffffff80;
  border-radius: 5px;
  text-align: right;
}

section.panel.gallery {
  text-align: right;
  width: min-content;
}

div.panel.message {
  color: white;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  grid-row: 3;
}

section.panel.mint-message.mint {
  background-color: #4caf50;
}

.align-right {
  text-align: right;
}

span.dots {
  min-width: 2rem;
  text-align: left;
}

a {
  color: black;
}

div.flex-space {
  flex-shrink: 0;
}
