html {
  height: 100%;
  width: 100%;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr min-content;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Courier New", monospace;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  background-color: #555555;
}

span {
  display: inline-block;
  /* text-align: center; */
}

span.rendering {
  margin-left: 2rem;
}

span.bibosNumber {
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

span.copyright {
  display: inline-block;
  text-align: center;
  grid-row: 4;
  color: #ababab;
  padding-bottom: 0.5rem;
}

div.panel {
  background-color: #001200;
  color: #108b10;
  box-shadow: 0px 0px 4px #333333;
  height: 4rem;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  border-width: 7px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  column-gap: 1rem;

  padding: 1rem;
  align-self: stretch;
}

div.svg-holder {
  width: min(500px, 96vw);
  height: min(500px, 96vw);
  box-shadow: 0px 0px 4px #333333;
  border-radius: 5px;
  background-color: #000000;
}

img {
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  background-color: #000000;
}

button {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #9b9b9b;
  box-shadow: 0px 0px 4px #333333;
  display: inline-block;
  border: none;
  margin: 0;
  width: 12rem;
  font-family: monospace;
  grid-row: 3;
}

button:disabled {
  background-color: #9b9b9b;
}

button:hover:enabled {
  background-color: #8b8b8b;
}

button:active:enabled {
  background-color: #7b7b7b;
}

section.content {
  grid-row: 2;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
}

span.dots {
  min-width: 2rem;
  text-align: left;
}
